communication_db:
  DB_URI: "mongodb://admintest:Rwy4ygL5hqoNUr@137.194.13.162/?retryWrites=true&w=majority&authSource=test"
  DB_NAME: "test"
api:
  FILE_SAVING_PATH: /dev/shm
  DEF_ROUTER_IP_VLAN:
    - 101: "10.101.0.1"
    - 102: "10.102.0.1"
