services:
  api_hermes:
    volumes:
      - ./config.yaml.example:/config.yaml
    container_name: api_hermes
    build: .
    environment:
      - CONFIG_PATH=/config.yaml
      # - TOKEN_NETBOX=your_token
      # - URL_NETBOX=http://netbox:8000
      # - DEF_ROUTER_IP_VLAN={"101":"10.101.0.1","102":"10.102.0.1"}
      # - FILE_SAVING_PATH=/dev/shm
    ports:
      - "80:8000"
